@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color1: #F5CCE8;
    --color2: #EC9DED;
    --color3: #C880B7;
    --color4: #9F6BA0;
    --color5: #4A2040;
}

html, body {
    overflow-x: hidden;
}

.container {
    position: relative;
}

/* Navbar Section Starts Here */

.navbar {
    background-color: var(--color5);
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 5rem;
    position: relative;
}

.hamburger_menu {
    display: none;
}

.cross_menu {
    display: none;
}

.hidden_menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
}

.left_nav .up {
    color: var(--color3);
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: 600;
}

.left_nav .down {
    color: var(--color3);
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    font-weight: 500;
}

.right_nav {
    display: flex;
    gap: 15px;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    font-weight: 500;
    cursor: pointer;
}

.right_nav a, li {
    color: var(--color3);
    text-decoration: none;
    list-style: none;
}

/* Navbar Section Ends Here */

/* Hero Section Starts Here */

.hero_section {
    background-color: var(--color4);
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 5rem;
}

.hero_section .heading {
    color: var(--color2);
    font-size: clamp(1.5rem, 4vw, 5rem);
    font-weight: 700;
}

.hero_section .sub_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero_section .sub_heading p {
    color: var(--color2);
    text-align: center;
}

.sub_heading .top {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    font-weight: 700;
}

.sub_heading .middle {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 700;
}

.sub_heading .bottom {
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: 700;
}

/* Hero Section Ends Here */

/* View My Works Starts Here */

.vmw {
    background-color: var(--color5);
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.vmw .box {
    height: 25rem;
    width: 25rem;
    background-color: var(--color2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box .top {
    font-size: clamp(1rem, 1.5vw, 5rem);
    font-weight: 700;
    color: var(--color5);
}

.box .middle,.bottom {
    font-size: clamp(1rem, 1.5vw, 5rem);
    font-weight: 700;
    color: var(--color5);
}

/* View My Works Starts Here */

/* Work-Ex Section Starts Here */

.work-ex {
    background-color: var(--color4);
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 5rem 5rem;
}

.work-ex .heading {
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 700;
    color: var(--color2);
}

.work-ex .one {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    color: var(--color2);
}

.work-ex h2 {
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
    font-weight: 700;
    color: var(--color2);
}

.work-ex h3 {
    font-size: clamp(1.25rem, 2vw, 3rem);
    font-weight: 600;
    color: var(--color2);
}

.work-ex p {
    font-size: clamp(1rem, 1.25vw, 3rem);
    text-align: justify;
    font-weight: 500;
    color: var(--color2);
}

/* Work-Ex Section Starts Here */

/* Footer Section Starts Here */

.footer {
    background-color: var(--color2);
    min-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.footer .top {
    color: var(--color5);
    font-size: clamp(1rem, 2vw, 5rem);
    font-weight: 600;
}

.footer .bottom {
    display: flex;
    font-size: clamp(1rem, 1.5vw, 5rem);
    font-weight: 400;
    gap: 50px;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--color5);
}

/* Footer Section Ends Here */

/* Animation Start */

.animate {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s linear;
    transition-delay: 0.2s;
}

.scroll-animate {
    opacity: 1;
    transform: translateX(0);
}

.btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color5);
}

.btn a {
    text-decoration: none;
    color: var(--color1);    
}

/* Animation End */

/* Media Query Section Starts Here */

@media (max-width: 720px) and (min-width: 320px) {
    /* NavBar Start */

    .navbar {
        min-height: 10vh;
        width: 100%;
        padding: 0 3rem;
        /* position: relative; */
    }

    .right_nav {
        display: none;
    }

    .hamburger_menu {
        display: flex;
        height: 5vh;  
        width: 5vw;  
    }

    .cross_menu {
        display: none;
        height: 7vh;  
        width: 7vw;
    }
    
    .hidden_menu {
        background-color: var(--color5);
        height: 30vh;
        width: 100%;
        flex-direction: column;
        align-items: end;
        gap: 1vh;
        padding: 5% 5%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }
    
    .hidden_menu a, .hidden_menu li {
        list-style: none;
        font-size: 5vh;
        color: var(--color4);
        cursor: pointer;
        border-bottom: 2px solid black;
    }

    /* NavBar End */

    /* HeRo Start */

    .hero_section {
        min-height: 30vh;
        padding: 2rem 3rem;
    }

    /* HeRo End */

    /* View My Work Start */

    .vmw {    
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        padding: 2rem 3rem;
    }

    .box {
        height: 2em;
        width: 5%;
        background-color: #C880B7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    /* View My Work Start */

    /* Work-Ex Start */

    .work-ex {
        min-height: 10vh;
    }

    /* Work-Ex End */

    /* Footer Start */

    .footer {
        background-color: var(--color2);
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem 3rem;
    }

    .icons {
        width: 5vw;
    }

    /* Footer End */

    .animate {
        opacity: 0;
        transform: translateX(5vh);
        transition: all 0.5s ease-in-out;
        transition-delay: 0.1s;
    }

    .scroll-animate {
        opacity: 1;
        transform: translateX(0);
    }

    .btn {
        position: fixed;
        bottom: 3%;
        right: 5%;
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        font-size: 1.25rem;
        font-weight: 700;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: var(--color5);
    }

    .btn a {
        text-decoration: none;
        color: var(--color1);    
    }
}

/* Media Query Section Ends Here */

